button + button {
    margin-left: 12px;
}

.ai-answer {
    position: absolute;
    margin-top: 166px;
    width: 100%;
    top: 0;
    height: calc(100% - 166px);
}

.ai-answer .answer-show-buttons {
    margin-top: 12px;
}
