.is-flex {
  display: flex;
}

.ide-page .container {
  min-width: 500px;
  flex: 1;
  margin-left: 0;
}

.ide-page .ai-help-form {
  width: 400px;
  flex: none;
  height: calc(100vh - 160px);
  min-height: 700px;
  position: relative;
  overflow: auto;
}

.ide-page .ai-help-form .input-question {
  /*position: absolute;*/
  /*top: 0;*/
}

.ide-page .ai-help-form .submit-button {
  position: absolute;
  top: 110px;
  right: 8px;
}

.code-run-area {
  text-align: left;
  margin: 18px -4px;
  border: 1px solid var(--grey-400);
  border-radius: 2px;
  height: 200px;
  overflow: hidden;
}

.code-run-button {
  margin: 8px;
}

.code-run-output textarea {
  width: 100%;
  height: 142px;
  border: none;
  resize: none;
  padding: 0 0 0 12px;
}
